@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

:root {
  --rsbs-backdrop-bg: rgba(0, 0, 0, 0.6);
  --rsbs-bg: #8d3333;
  --rsbs-handle-bg: rgba(251, 239, 240, 1);
  --rsbs-max-w: auto;
  --rsbs-ml: env(safe-area-inset-left);
  --rsbs-mr: env(safe-area-inset-right);
  --rsbs-overlay-rounded: 16px;
}

html {
  @apply text-white;
  @apply scroll-smooth;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  /* Make sure modal is above other content */
}

.modal {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 500px;
  width: 100%;
}

.closeButton {
  background: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 15px;
}

/* components/RsvpForm.module.css */
.fieldset {
  width: 100%;
  border: 2px solid #ccc;
  /* Optional: Customize border style */
  border-radius: 8px;
  /* Optional: Round the corners */
  padding: 20px;
  /* Optional: Add some padding */
  margin-bottom: 20px;
  /* Space below the fieldset */
}

.legend {
  font-weight: bold;
}

/* Custom radio button styles */
.customRadio {
  display: none;
  /* Hide the default radio button */
}

.radioLabel {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 5px 0;
}

.radioSquare {
  width: 20px;
  /* Size of the square */
  height: 20px;
  /* Size of the square */
  border: 2px solid #ccc;
  /* Border color */
  border-radius: 4px;
  /* Optional: Slightly round corners */
  margin-right: 10px;
  position: relative;
}

.customRadio:checked + .radioLabel .radioSquare {
  background-color: #bd5a18;
  /* Fill color when checked */
  border-color: #fff;
  /* Border color when checked */
}

.customRadio:checked + .radioLabel .radioSquare::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 16px;
  /* Inner square size */
  height: 16px;

  /* Inner fill color */
  border-radius: 2px;
  /* Optional: Slightly round corners */
}

/* customScrollbar.css */

::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #f0f0f0; /* Color of the track */
}

::-webkit-scrollbar-thumb {
  background: #d77636; /* Color of the thumb */
  border-radius: 5px; /* Rounded corners for the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: darkorange; /* Color of the thumb on hover */
}

::-webkit-scrollbar-thumb:active {
  background: #d1661e; /* Color of the thumb when active */
}

.text-shadow {
  text-shadow: 2px 2px 4px #122a62,
    /* White shadow */ 1px 1px 2px rgba(0, 0, 0, 0.5); /* Optional black shadow for depth */
}
